@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.container img{
  margin: 0 5%;
}

.container div{
  margin: 0 5%;
}