@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

nav{
  display: flex;
  background-color: #0573ce;
  height: 85px;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

nav img{
  width: 100px;
  object-fit: contain;
}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li{
  padding: 5px;
  margin: 0 8px;
  font-weight: bold;
}

nav ul li:last-child{
  background-color: #f9c70c;
  border-radius: 20px;
}

main{
  background-color: #0573ce;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main{
  max-width: 410px;
}

.container-main h1{
  line-height: 2;
}

.container-main h4{
  margin-bottom: 20px;
  line-height: 2;
  font-weight: 200;
}

main img{
  max-width: 500px;
}

.button-account{
  background-color: #f9c70c;
  padding: 10px 40px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease all;
}

.button-account:hover{
  background-color: #c59a00;
}

.video-prop{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.ifrm{
  border-radius: 7px;
}

.phrase{
  text-align: center;
}

.container-cards{
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

.container-cards div{
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  padding: 65px 0px;
}

.container-cards div:first-child{
  background-color: #023b87;
}

.container-cards div:nth-child(2){
  background-color: #0573ce;
}

.container-cards div:last-child{
  background-color: #418382;
}

.container-cards div img{
  width: 150px;
}

.container-cards div p{
  text-align: center;
  margin: 30px 0 10px 0;
}

.container-button-2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-account-2{
  background-color: #4183b2;
  padding: 10px 40px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease all;
  width: 250px;
  color: #fff;
}

.container-dashboard{
  margin-top: 20px;
  padding: 10px;
  background-color: #0573ce;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-dashboard img{
  width: 300px;
}

.container-dashboard div h2{
  color: #fff;
  max-width: 400px;

}

.container-dashboard div img{
  width: 150px;
  height: 85px;
}